{% extends 'base.html.twig' %}

{% block body %}
    <h2>Regulamin rejestracji internetowej.</h2>
    <p>
        §1</p>
    <p><strong>Postanowienia ogólne</strong><br/>
        <br/>
        1.
Właścicielem systemu rezerwacji wizyt on-line i stroną trzymającą
nadzór nad sprawnym funkcjonowaniem jest XXXX Sp. z o.o., ul.
Kilińskiego 18, 17-800 Łomża, zwanym dalej XXXX.<br/>
        2.
Celem wdrożenia narzędzia rejestracji internetowej jest ułatwienie
Pacjentom dostępu do usług przychodni.<br/>
        3.
Poprzez system można zapisać się na planowe konsultacje
specjalistyczne i inne usługi medyczne w XXXX lub odwołać
wcześniej umówione terminy wizyt.<br/>
         4.
Korzystanie z rejestracji on-line jest równoznaczne z akceptacją
postanowień niniejszego regulaminu.<br/>
        5.
Korzystający z systemu rezerwacji wizyt on-line zgadza się na
wykorzystywanie jego danych osobowych zgodnie z wymogami ustawy z dn.
29 sierpnia 1998 roku o ochronie danych osobowych, przez firmę XXXX,
w celach handlowych, promocyjnych , marketingowych usług i produktów
własnych oraz podmiotów współpracujących.<br/>
        6.
Podanie danych: adres e-mail, ma charakter dobrowolny, ale niezbędny
do korzystania z systemu rezerwacji wizyt on-line.<br/>
        7.
Osobom udostępniającym dane przysługuje prawo wglądu do swoich
danych oraz ich uaktualnianie.<br/>
        8.
W związku z przyjęciem i stosowaniem przez XXXX rejestracji
internetowej pacjent oświadcza, że wszelkie podane przez niego dane
osobowe są zgodne z prawdą.</p>
    <br/>
    <p><br/>
        <strong>Dostęp do systemu rezerwacji on-line</strong><br/>
        1.
Dostęp do systemu rejestracji wizyt on-line XXXX, uzyskują
pełnoletni pacjenci zadeklarowani w przychodniach XXXX.<br/>
        2.
Pełnoletni Pacjent może umówić na wizytę, pozostającego pod
jego opieką niepełnoletniego członka rodziny pod warunkiem, że
posiada on także deklarację wyboru lekarza oraz poda podczas
rejestracji jego dane osobowe i datę urodzenia.<br/>
        3.
Niezbędnymi danymi wykorzystywanymi w procesie rejestracji do
systemu są&nbsp;m.in.
: Pesel, numer telefonu oraz e-mail.</p>
    <br/>
    <p><br/>
        <strong>Ograniczenia
            i zablokowanie dostępu do systemu rezerwacji wizyt on-line</strong><br/>
        1.
Zapisanie się na wizytę nie jest możliwe, jeśli pacjent nie poda
swojego adresu e-mail.<br/>
        2.
Zarejestrowanie się i nie powiadomienie o rezygnacji z wizyty u
wybranego lekarza wiąże się z poniesieniem przez Pacjenta kosztów
rezerwacji i opłat administracyjnych w wysokości 40 zł netto. W
przypadku nie zgłoszenia się na wizytę niepełnoletniego pacjenta
konsekwencje ponosi opiekun.<br/>
        3.
Za regulaminowe uznaje się odwołanie wizyty drogą on-line lub
telefonicznie, jeśli do terminu jej rozpoczęcia pozostaje
przynajmniej jeden dzień.<br/>
        4.
O odblokowaniu dostępu do systemu rezerwacji wizyt on-line decyduje
Rejestracja danej przychodni XXXX.</p>
    <br/>
    <p><strong>Potwierdzenie przyjęcia rezerwacji</strong><br/>
        1.
Potwierdzenie wysłania rejestracji jest wyświetlane na stronie
internetowej podczas rezerwacji.<br/>
        2.
Po dokonaniu rejestracji on-line, pacjent otrzymuje na podany adres
e-mail informację zwrotną potwierdzającą lub negującą możliwość
jej uzyskania w oczekiwanym terminie.</p>
    <br/>
    <p><strong>Reklamacjei uwagi</strong>
    <br/>
        1.
Wszelkie uwagi i sugestie pozwalające na doskonalenie systemu
rezerwacji wizyt on-line zbierane są pod
adresem:&nbsp;<a href="mailto:medyczno.diagnostyczne@gmail.com">medyczno.diagnostyczne@gmail.com</a></p>

{% endblock %}
